code {
  background-color: #f1f1f1;
	font-size: .7rem;
	line-height: 1rem;
  padding: .2rem .35rem;
	font-weight: 200;
	position: relative;
	bottom: 1px;
	-webkit-font-smoothing: antialiased;
	border-radius: .1rem;
	border: 1px solid #e1e1e1;
	display: inline-block;
}

code, 
pre,
code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre {
	width: 100%;
  max-width: 900px;
	margin: 1.5rem auto;
	padding: .4em .8em;
	overflow: auto;
	background: #121212;
	color: #f1f1f1;
}

pre[class*="language-"] code, 
pre code {
	background: #121212;
	color: #f1f1f1;
	border: none;
	border-radius: 0;
	font-size: .85rem;
	bottom: 0;
	line-height: 1.5;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #aaa;
}

.token.punctuation {
	color: #e8e8e8;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #f92672;
}

.token.selector,
.token.string,
.token.char,
.token.builtin {
	color: #E2D62E;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.toke.variable,
.token.inserted {
	color: #a6e22e;
}

.token.atrule,
.token.attr-value {
	color: #f92672;
}

.token.keyword {
  color: #66D9EF;
}

.token.class-name, .token.attr-name {
  color: #A6E22E;
}

.token.regex,
.token.important {
	color: orange;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: red;
}
